html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* ====================== Hovedside ====================== */
.header {
    display: flex;
    justify-content: center;
}

/* Logo, tittel og knapper sentrert */
.header-center {
    display: flex;
    color: white;
    margin: 1rem 1rem;
    gap: 0.5rem;
}

/* Kmponent spesfiikke farger */
.handleliste-color {
    background-color: #1B5E20;
    border-color: #1B5E20;
}

.handlekurv-color {
    background-color: #052c65;
    border-color: #052c65;
}

.oversikt-color{
    background-color: #a52834;
    border-color: #a52834;
}

.universitieslist-color{
    background-color: #4d5154;
    border-color: #4d5154;
}

/* Sentrer knappene og gir lik bredde */
.navigation-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  /* En kolonne for hver knapp*/
    gap: 0.5rem;
    padding: 10px 0 10px 0;
    color: white;
}

/* Navigasjonsknappene */
.navigation-btn {
    color: #1C6B1C;
    background-color: white;
}

/* Litt mørkere farge enn hvit ved hover */
.navigation-btn:hover{
    background-color: #d7d8da;
}

.handleliste-text-color {
    color: #1B5E20;
}

.handlekurv-text-color {
    color: #052c65;
}

.oversikt-text-color {
    color: #a52834;
}

.universitieslist-text-color {
    color: #4d5154;
}



/* Hvit farge rundt den aktive komponenten */
.active-button {
    background-color: #d7d8da;
    box-shadow: 0 0 0 0.25rem #d7d8da;
}

/* ====================== Tabell-seksjonene i handleliste og handlekurv ====================== */
.table-section {
    width: 90%;
    margin: 0 auto;
}

/* Tabellen med grid for å kunne legge til scroll. Knappene får litt mindre plass, samt maks høyde for å trigge
 scrollingen med overflow-y */
.custom-table {
    display: grid;
    grid-template-columns: 7rem auto auto auto auto;
    max-height: 70vh;
    border: 1px solid #dee2e6;
    overflow-y: auto;
}

/* Gjør teksten markert slik som strong gjør på de andre feltene */
.custom-table select {
    font-weight: 600;
}

/* Kolonneoverskriften er sticky så den sitter fast på toppen */
.table-header {
    position: sticky;
    top: 0;
    padding: 0.75rem;
    background-color: #F2F2F2;
}

/* Gir litt luft mellom kantene inne i cellene */
.table-body {
    padding: 2px 5px 2px 5px;
}

/* Logikk som er lik for både header og body. Flex og align-items for å sentrere det vertikalt */
.table-header,
.table-body {
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
}

/* Stripe-effekt (annenhver rad) */
.custom-table > div:nth-child(10n + 1),
.custom-table > div:nth-child(10n + 2),
.custom-table > div:nth-child(10n + 3),
.custom-table > div:nth-child(10n + 4),
.custom-table > div:nth-child(10n + 5) {
    background: #F2F2F2;
}

/* Setter Mengde og Estimert pris-kolonnene høyrestilt fordi de inneholder nummer og ikke tekst */
.align-right {
    justify-content: flex-end;
}

/* De to knappene inne i venstre kolonne */
.item-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

/* Footer */
.table-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.8rem;
    background-color: #F2F2F2;
    border: 1px solid #dee2e6;
    border-top: none;
}

/* Suksess-meldingen ved en suksessful event  */
.success-message {
    color: #1C6B1C;
    margin: 0 auto;
}

/* Sentrerer teksten og øker størrelsen litt hvis listen er tom */
.empty-list-message {
    display: grid;
    text-align: center;
    margin: 40px auto;
    font-size: 20px;
    color: white;
    border-radius: 4px;
}

/* ====================== Knapper ====================== */

/* Gir alle knappene hvit tekst */
.button {
    color:  white;
}

/* Mørkere farge når man hover over knappen. Tilpasset hver komponent sin farge*/
button.handleliste-color:hover {
    background-color: #0a3622;
    color: white;
    border-color: #0a3622 ;
}
button.handlekurv-color:hover {
    background-color: #031633;
    color: white;
    border-color: #031633 ;
}
button.oversikt-color:hover {
    background-color: #2c0b0e;
    color: white;
    border-color: #2c0b0e ;
}
button.universitieslist-color:hover {
    background-color: #1a1d20;
    color: white;
    border-color: #1a1d20 ;
}

/* Slett-knappen */
.item-deleted {
    background-color: #6c757d;
    color:  white;
}
.item-deleted:hover {
    background-color: #2c3034;
    color:  white;
}


/* ====================== Oversikt ====================== */
/* Tabellen pr kategori */
.pr-category-table {
    text-align:  end;
}

/* Kategori feltet som er tekst er høyrestil */
.pr-category-table th:first-child,
.pr-category-table td:first-child {
    text-align:  left;
}

/* Andre og fjerde kolonnen i hver rad */
.overview-table td:nth-child(2),
.overview-table td:nth-child(4) {
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Seksjonene med kortene */
.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 2rem 2rem;
    gap: 1rem;
}

/* ====================== OverviewCard ====================== */

/* Kortene */
.custom-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:  white;
    margin: 1rem;
}

.custom-card p {
    font-size: 1.5rem;
}

.custom-card h5 {
    font-size: 1rem;
}

/* ====================== EditForm ====================== */
/* Sikrer at select-feltet og knappen holder seg på samme linje */
.category-form {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    gap: 5px;
    margin: 1px 1px 10px;
}

.align-center {
    text-align: center;
}

/* ====================== UserGuideSection/Modal ====================== */
/* Seksjonen med UserGuide-knappen og knappen for å legge til nytt element  */
.user-guide-section {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    width: 90%;
}

.error-message {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
}

.disable-hover {
    pointer-events: none;
    cursor: default;
}

/* ====================== Universiteter ====================== */
.universitet-header-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.loading-message {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
}